body {
  font-family: system-ui;
 

}



label {
 
  margin-bottom: 5px;
  font-weight: bold;
}

.head {
  display: flex;
  justify-content: center;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  
 
  margin-bottom: 10px;
}

a {
  color: #0077cc;
  /* Text color */
  text-decoration: none;
  /* Remove underline */
  font-weight: bold;
  /* Bold text */
  padding: 5px 10px;
  /* Add padding */
  border-radius: 3px;
  /* Rounded corners */

  /* Add background color */
}

a:hover {
 
  /* Change background color on hover */
  color: #0d0d0d;
  /* Change text color on hover */
}


.message {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeOut 7s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 5;
  }

  100% {
    opacity: 0;
  }
}


box-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#button {
  display: flex;
  /* flex-wrap: wrap; */
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 4rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 8px #1356d2;
}