html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif
}

:root {
    scrollbar-color: #d2d2d2 #2e3645 !important;
    scrollbar-width: thin !important
}

em {
    font-style: normal;
    color: #eebf4d
}

.title {
    font-size: 2em;
    display: block;
    font-family: 'Yusei Magic', sans-serif
}

.sub-title {
    font-size: 1em;
    display: block;
    font-family: 'Titillium Web', sans-serif
}

.btn1 {
    background: #1e1e1e;
    box-shadow: 0 6px 16px -6px rgba(1, 1, 1, .5);
    color: #fff;
    padding: 5px 10px;
    transition: .5s;
    border: 0;
    outline: 0;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    margin: 15px 0
}

.btn1:hover {
    background: #fff;
    color: #000;
    border: 1px solid #1e1e1e
}

.btn2 {
    color: green;
    display: block
}

a {
    text-decoration: none
}

li {
    list-style: none
}

header {
    width: 100%;
    box-shadow: 0 6px 16px -6px rgba(1, 1, 1, .5);
    position: fixed;
    top: 0;
    z-index: 9
}

.menu {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 10px
}

.menu table {
    width: 100%
}

.menu table td {
    width: 33%
}

.menu .logo {
    width: 52px;
    height: 50px
}

.menu input {
    padding: 10px;
    outline: 0;
    border: 0;
    width: 80%
}

.menu button {
    background: #eebf4d;
    color: #fff;
    padding: 10px;
    outline: 0;
    border: 0
}

@media (max-width:900px) {
    .menu input {
        width: 60%
    }
}

@media (max-width:600px) {
    .menu table td {
        width: 50%
    }

    .menu table td:nth-child(3) {
        display: none
    }

    .menu input {
        width: 65%
    }
}

.menu span {
    float: right;
    margin-right: 15%
}

.value {
    text-align: center;
    padding: 2px;
    color: #fff;
    background: red;
    position: relative;
    top: -30px;
    left: 10px;
    z-index: 1;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    transition: .5s
}

.cart-content {
    min-width: 180px;
    margin-bottom: 20px;
    position: absolute;
    right: 0
}

.cart-content ul:hover {
    background: #fff
}

.cart-content ul {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(1, 1, 1, .1)
}

.cart-content ul li {
    display: inline-block
}

.cart-content ul li img {
    width: 100%;
    height: 50px
}

.cart-content ul li:nth-child(1) {
    width: 30%
}

.cart-content ul li:nth-child(2) {
    width: 50%
}

.cart-content ul li:nth-child(3) {
    width: 10%
}

.cart-content ul li:nth-child(3) i {
    position: relative;
    top: -15px;
    transition: .5s
}

.cart-content ul li:nth-child(3) i:hover {
    color: red
}

.cart-content ul li .title {
    font-size: .7em;
    display: inline-block
}

.cart-content ul li .sub-title {
    font-size: .6em;
    color: gray;
    display: inline-block
}

.dropdown-menu {
    background-color: #f8f9fa;
    border: none;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.dropdown-item {
    color: #333
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #e9ecef;
    color: #333
}

.dropdown-divider {
    border-top: 1px solid #ccc
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #000
}

.dropdown:hover .dropdown-content {
    display: block
}

@media screen and (max-width:600px) {
    .value {
        text-align: center;
        padding: 2px;
        color: #fff;
        background: red;
        position: relative;
        top: -10px;
        left: 5px;
        z-index: 1;
        border-radius: 50%;
        width: 20px;
        height: 10px;
        font-size: 10px;
        transition: .5s
    }
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.content-width {
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 10%
}

.item {
    position: absolute;
    width: 100%;
    height: auto
}

.item-image-container {
    position: relative;
    width: 100%;
    height: 70vh
}

.item-image-container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 101%;
    height: 90vh;
    background: #22222a;
    opacity: 0
}

.item-image {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    transition: opacity .3s ease-out .45s
}

.item.active .item-image {
    opacity: 1
}

.item.active .item-image-container::before {
    opacity: 0
}

.item-header {
    position: absolute;
    top: 40vh;
    left: 1.8%
}

@media (max-width:600px) {
    .content-width {
        height: 50vh
    }

    .item-image-container {
        height: 60vh
    }

    .item-image-container::before {
        height: 60vh
    }

    .item-header {
        position: absolute;
        top: 30vh
    }
}

.controls {
    position: relative;
    text-align: right;
    display: block
}

.controls ul {
    list-style: none;
    float: left
}

.controls ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    background: #bdbdd5;
    cursor: pointer
}

.controls ul li.active {
    background: #6a6a77
}

@media (max-width:600px) {
    .content-width {
        margin-top: 15%
    }

    .controls ul {
        list-style: none;
        position: absolute;
        top: -20vh
    }
}

.section1 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth
}

.section1 .add-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 16px -6px rgba(1, 1, 1, .5);
    width: 29%;
    margin: 2%;
    display: inline-block;
    height: 310px;
    background-size: cover;
    background: linear-gradient(rgba(1, 1, 1, .5), rgba(1, 1, 1, .5))
}

.section1 section {
    color: #fff;
    padding: 30px 0
}

.section1 .btn1:hover {
    background: 0 0;
    color: #fff;
    border: 1px solid #fff
}

.section1 .title {
    color: #eebf4d
}

@media (max-width:1280px) {
    .section1 .add-card {
        min-width: 20%;
        margin: 1%
    }
}

@media (max-width:600px) {
    .section1 {
        position: relative;
        display: flex;
        align-items: left;
        justify-content: left;
        margin-top: 10vh
    }

    .section1 .add-card {
        min-width: 80%;
        height: 200px
    }
}

.section2 {
    width: 100%;
    padding: 30px;
    padding-top: 0
}

.section2-header {
    font-size: 1.5em;
    padding: 20px
}

@media (max-width:600px) {
    .section2 .title {
        display: block;
        min-width: 90%;
        height: 10vh
    }

    .section2 {
        position: relative;
        display: flex;
        align-items: left;
        justify-content: left;
        margin-top: 0;
        overflow-x: hidden;
        scrollbar-width: none;
        scroll-behavior: smooth
    }

    .section2-header {
        margin-top: 10vh
    }
}

.section3 {
    overflow-y: hidden;
    padding: 50px 30px;
    box-shadow: 0 6px 16px -6px rgba(1, 1, 1, .5);
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: left;
    justify-content: left;
    scrollbar-width: none;
    scroll-behavior: smooth
}

.section4 {
    width: 100%;
    min-height: 40vh;
    overflow-y: hidden;
    padding: 50px 30px;
    box-shadow: 0 6px 16px -6px rgba(1, 1, 1, .5);
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: left;
    justify-content: left;
    scrollbar-width: none;
    scroll-behavior: smooth
}

.section3-header,
.section4-header {
    padding: 20px;
    position: relative
}

.section3-header .title,
.section4-header .title {
    font-size: 1.8em;
    margin-top: 5vh
}

.section3-header .viewmore,
.section4-header .viewmore {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #2874f0;
    border-radius: 3px
}

.section3-header .viewmore:hover,
.section4-header .viewmore:hover {
    color: #fff;
    background: #39f;
    border: 0
}

.section3-header,
.section4-header {
    font-size: 1em
}

.section3 .discount-card,
.section4 .discount-card {
    padding: 15px;
    min-width: 200px;
    height: 350px;
    display: inline-block;
    margin: 0 15px;
    position: relative
}

.section3 .discount-card a,
.section4 .discount-card a {
    top: 10px;
    right: 10px;
    transition: .5s
}

.section3 .discount-card a:hover,
.section4 .discount-card a:hover {
    color: red
}

.section3 .discount-card img,
.section4 .discount-card img {
    width: 100%;
    height: 236px
}

.section3 .discount-card .title,
.section4 .discount-card .title {
    font-size: 1em
}

.section3 .discount-card .btn1,
.section4 .discount-card .btn1 {
    display: inline-block
}

.section3 .discount-card .rating,
.section4 .discount-card .rating {
    color: gray
}

.section3 .discount-card .checked,
.section4 .discount-card .checked {
    color: orange
}

.section3-header button,
.section4-header button {
    background: #fff;
    box-shadow: 0 6px 16px -6px rgba(1, 1, 1, .5);
    height: 35vh;
    width: 50px;
    font-size: 30px;
    z-index: 111;
    text-align: center;
    border: 0;
    outline: 0;
    transition: .5s
}

.section3-header .next,
.section4-header .next {
    position: absolute;
    right: 0;
    top: 25vh;
    z-index: 1
}

.section3-header .previous,
.section4-header .previous {
    position: absolute;
    left: 0;
    top: 25vh;
    z-index: 1
}

.section3-header .next:hover,
.section3-header .previous:hover,
.section4-header .next:hover,
.section4-header .previous:hover {
    background: #eebf4d
}

@media (max-width:600px) {

    .section3,
    .section4 {
        display: flex;
        align-items: left;
        justify-content: left
    }

    .section3 .discount-card,
    .section4 .discount-card {
        min-width: 60%;
        margin: 0 40px
    }

    .section3-header .title,
    .section4-header .title {
        font-size: 1em
    }

    .section3-header .next,
    .section3-header .previous,
    .section4-header .next,
    .section4-header .previous {
        display: none
    }
}

.section4 {
    height: 30vh
}

.section6 {
    width: 100%;
    background: #eebf4d;
    position: relative
}

.section6 table {
    width: 90%
}

.section6 table td {
    width: 40%;
    padding: 30px
}

.section6 table td img {
    width: 200px;
    height: 50vh;
    position: absolute;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    pointer-events: none
}

@media (max-width:600px) {
    .section6 table td {
        padding: 10px
    }

    .section6 table td img {
        width: 40%;
        height: 40vh
    }

    .section6 .title {
        font-size: 1.2em
    }

    .section6 .sub-title {
        font-size: .8em
    }
}

.footer {
    width: 100%;
    padding: 30px 0;
    background: #000
}

.footer ul {
    width: 20%;
    padding: 2%;
    display: inline-block;
    font-family: Play, sans-serif
}

.footer ul .title {
    color: #fff;
    font-size: 16px;
    cursor: default
}

.footer ul li {
    color: gray;
    font-size: 13px;
    padding: 5px 0;
    cursor: pointer;
    transition: .5s
}

.footer ul:not(:first-child) li:hover {
    color: #f8a01a
}

.footer ul li a {
    color: gray;
    transition: .5s;
    font-size: 23px;
    margin: 0 10px
}

.footer ul li a:hover {
    color: #fff
}

.footer ul li input {
    padding: 10px 10px;
    border: 0;
    outline: 0;
    width: 100%
}

.footer ul li select {
    padding: 5px;
    background: #fff;
    border: 0;
    outline: 0;
    width: 60%
}

.footer ul li .btn1 {
    padding: 5px 10px;
    font-size: 14px;
    width: 50%;
    height: 50px
}

.sub-footer {
    text-align: center;
    color: gray;
    font-size: 13px;
    background: #1e1e1e;
    padding: 5px 0
}

@media (max-width:600px) {
    .footer ul {
        width: 90%;
        display: block
    }

    .footer ul:nth-child(2),
    .footer ul:nth-child(3) {
        width: 45%;
        display: inline-block
    }

    .footer ul li input {
        width: 70%
    }
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative
}

.container {
    font-family: 'Yusei Magic', sans-serif
}

.navbar-brand {
    font-family: 'Yusei Magic', sans-serif
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
    padding-top: 60px
}

.modal-content {
    background-size: cover;
    background-position: center;
    margin: 5% auto 5% auto;
    border: 1px solid #888;
    width: 80%
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: 700
}

.close:focus,
.close:hover {
    color: #eebf4d;
    cursor: pointer
}

.animate {
    -webkit-animation: animatezoom .6s;
    animation: animatezoom .6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}